!!!
%html
  %head
    %title Resumable upload with sinatra

    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"}
    %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{type:"text/javascript", src:"js/vendor/flow-mod.js"}
    %script{type:"text/javascript", src:"js/app.js"}
    %script{type:"text/jsx", src:"js/uploader.js"}
    %script{type:"text/jsx", src:"js/videos.js"}

    = css :application

  %body
    .jumbotron
      .container-fluid
        %h1.display-3 Resumable upload 
        %p.lead with Sinatra + React

    .container-fluid
      #content


    .container-fluid
      #videos

